openapi: 3.1.0
info:
  title: WEEX Futures Trading API
  description: |
    WEEX Futures Trading API provides comprehensive endpoints for cryptocurrency derivatives trading including market data, account management, and order operations.
    
    ---
    
    # 🚀 Getting Started
    
    ## Quick Start Guide
    
    ### Step 1: Create API Keys
    1. Log in to your WEEX account at [weex.com](https://www.weex.com)
    2. Navigate to **API Management** in your account settings
    3. Create a new API key with the permissions you need:
       - **Read**: View account info, positions, order history
       - **Trade**: Place and cancel orders
       - **Transfer**: Withdraw funds (optional)
    4. Save your **API Key**, **API Secret**, and **Passphrase** securely
    
    ### Step 2: Test Connectivity
    Make your first API call (no authentication required):
    ```bash
    curl "https://api-contract.weex.com/capi/v2/market/time"
    ```
    
    ### Step 3: Make Authenticated Requests
    For protected endpoints, you need to include authentication headers.
    See the **Authentication** section below.
    
    ---
    
    # 🔐 Authentication
    
    ## Required Headers
    
    | Header | Description | Source |
    |--------|-------------|--------|
    | `ACCESS-KEY` | Your API Key | You provide |
    | `ACCESS-SIGN` | HMAC-SHA256 signature | Calculated |
    | `ACCESS-PASSPHRASE` | Your API passphrase | You provide |
    | `ACCESS-TIMESTAMP` | Current Unix millisecond timestamp | Auto-generated |
    | `Content-Type` | Always `application/json` | Auto-added |
    | `locale` | Language setting | Default: `en-US` |
    
    ## Signature Generation
    
    The signature is created using HMAC-SHA256:
    
    ```
    signature = Base64(HMAC-SHA256(secret, timestamp + method + path + body))
    ```
    
    Where:
    - `timestamp`: Unix millisecond timestamp
    - `method`: HTTP method in uppercase (GET, POST, etc.)
    - `path`: Request path (e.g., `/capi/v2/order/placeOrder`)
    - `body`: Request body for POST requests (empty string for GET)
    
    ### Python Example
    ```python
    import hmac
    import hashlib
    import base64
    import time
    import requests
    
    api_key = "your_api_key"
    api_secret = "your_api_secret"
    passphrase = "your_passphrase"
    
    timestamp = str(int(time.time() * 1000))
    method = "GET"
    path = "/capi/v2/account/assets"
    body = ""
    
    message = timestamp + method + path + body
    signature = base64.b64encode(
        hmac.new(api_secret.encode(), message.encode(), hashlib.sha256).digest()
    ).decode()
    
    headers = {
        "ACCESS-KEY": api_key,
        "ACCESS-SIGN": signature,
        "ACCESS-PASSPHRASE": passphrase,
        "ACCESS-TIMESTAMP": timestamp,
        "Content-Type": "application/json"
    }
    
    response = requests.get(f"https://api-contract.weex.com{path}", headers=headers)
    print(response.json())
    ```
    
    ### JavaScript (Node.js) Example
    ```javascript
    const crypto = require('crypto');
    const axios = require('axios');
    
    const apiKey = 'your_api_key';
    const apiSecret = 'your_api_secret';
    const passphrase = 'your_passphrase';
    
    const timestamp = Date.now().toString();
    const method = 'GET';
    const path = '/capi/v2/account/assets';
    const body = '';
    
    const message = timestamp + method + path + body;
    const signature = crypto
      .createHmac('sha256', apiSecret)
      .update(message)
      .digest('base64');
    
    axios.get(`https://api-contract.weex.com${path}`, {
      headers: {
        'ACCESS-KEY': apiKey,
        'ACCESS-SIGN': signature,
        'ACCESS-PASSPHRASE': passphrase,
        'ACCESS-TIMESTAMP': timestamp,
        'Content-Type': 'application/json'
      }
    }).then(response => console.log(response.data));
    ```
    
    ## Interactive Documentation
    When using this documentation page, enter your API Secret in the ACCESS-SIGN field.
    The system automatically generates timestamps and signatures for you.
    
    ---
    
    # 📊 Rate Limiting
    
    ## Overview
    Rate limits are enforced per endpoint based on IP address and User ID (UID).
    
    | Category | IP Limit | UID Limit | Window |
    |----------|----------|-----------|--------|
    | Market Data | 20 req/sec | N/A | 1 second |
    | Account Info | 10 req/sec | 10 req/sec | 1 second |
    | Order Placement | 10 req/sec | 10 req/sec | 1 second |
    | Order Cancellation | 10 req/sec | 10 req/sec | 1 second |
    
    ## Rate Limit Headers
    ```
    X-RateLimit-Limit: 10
    X-RateLimit-Remaining: 9
    X-RateLimit-Reset: 1716710918113
    ```
    
    ## Handling Rate Limits
    - Implement exponential backoff when receiving 429 errors
    - Cache market data to reduce unnecessary requests
    - Use WebSocket for real-time data instead of polling
    
    ---
    
    # 📖 Glossary
    
    | Term | Definition |
    |------|------------|
    | **Leverage** | Multiplier that amplifies position size relative to margin (1x-125x) |
    | **Margin** | Collateral required to open and maintain a position |
    | **Cross Margin** | All available balance used as margin for positions |
    | **Isolated Margin** | Specific amount of margin assigned to a single position |
    | **Funding Rate** | Periodic payment between long and short positions to keep price aligned with spot |
    | **Mark Price** | Fair price used for PnL and liquidation calculations |
    | **Index Price** | Average price across major spot exchanges |
    | **Liquidation** | Forced closure of position when margin is insufficient |
    | **PnL** | Profit and Loss (realized or unrealized) |
    | **Maker** | Order that adds liquidity (rests in order book) |
    | **Taker** | Order that removes liquidity (matches immediately) |
    | **USDT-M** | USDT-margined (linear) futures contracts |
    | **Open Interest** | Total number of outstanding contracts |
    
    ---
    
    # ❓ FAQ
    
    **Q: What is the minimum order size?**
    A: Varies by symbol. Check `/capi/v2/market/contracts` for `size_increment`.
    
    **Q: How do I check my order status?**
    A: Use `/capi/v2/order/detail` with your order ID or `/capi/v2/order/current` for all open orders.
    
    **Q: Why did my order get rejected?**
    A: Common reasons: insufficient margin, invalid price, symbol not tradeable, rate limit exceeded.
    
    **Q: How accurate should my timestamp be?**
    A: Within ±30 seconds of server time. Use `/capi/v2/market/time` to sync.
    
    **Q: Can I use the same client_oid for multiple orders?**
    A: No, each `client_oid` must be unique within 24 hours.
    
    **Q: What happens if my request times out?**
    A: Check order status before retrying. The order may have been placed successfully.
    
    ---
    
    # 🔗 Resources
    
    - **Base URL**: `https://api-contract.weex.com`
    - **Official Website**: [weex.com](https://www.weex.com)
    - **Support Center**: [weex.com/help](https://www.weex.com/help)
    - **API Status**: Check our status page for any ongoing issues
    
  version: "2.0"
  contact:
    name: WEEX API Support
    url: https://www.weex.com
  license:
    name: Proprietary
    url: https://www.weex.com/terms
servers:
  - url: https://api-contract.weex.com
    description: WEEX Futures Trading API Server
security:
  - WeexApiKey: []
    WeexApiSecret: []
    WeexPassphrase: []
components:
  securitySchemes:
    WeexApiKey:
      type: apiKey
      in: header
      name: ACCESS-KEY
      description: Enter your WEEX API Key
    WeexApiSecret:
      type: apiKey
      in: header
      name: ACCESS-SIGN
      description: Enter your WEEX API Secret (System will calculate the signature)
    WeexPassphrase:
      type: apiKey
      in: header
      name: ACCESS-PASSPHRASE
      description: Enter your WEEX API Passphrase
  schemas:
    ServerTime:
      type: object
      properties:
        epoch:
          type: string
          description: Unix timestamp in UTC time zone
        iso:
          type: string
          description: ISO 8601 standard time format
        timestamp:
          type: integer
          description: Server time Unix millisecond timestamp
    Symbol:
      type: string
      description: Trading pair symbol (e.g., cmt_btcusdt)
    TickerInfo:
      type: object
      properties:
        symbol:
          type: string
          description: Trading pair
        last:
          type: string
          description: Latest execution price
        best_ask:
          type: string
          description: Ask price
        best_bid:
          type: string
          description: Bid price
        high_24h:
          type: string
          description: Highest price in the last 24 hours
        low_24h:
          type: string
          description: Lowest price in the last 24 hours
        volume_24h:
          type: string
          description: Trading volume of quote currency
        timestamp:
          type: string
          description: System timestamp Unix millisecond timestamp
        priceChangePercent:
          type: string
          description: Price increase or decrease (24 hours)
        base_volume:
          type: string
          description: Trading volume of base currency
        markPrice:
          type: string
          description: Mark price
        indexPrice:
          type: string
          description: Index price
    OrderResponse:
      type: object
      properties:
        client_oid:
          type: ["string", "null"]
          description: Client-generated order identifier
        order_id:
          type: string
          description: Order ID
    SuccessResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code, "00000" indicates success
        msg:
          type: string
          description: Response message
        requestTime:
          type: integer
          description: Return time Unix millisecond timestamp
        data:
          type: string
          description: Response data
    ErrorResponse:
      type: object
      required:
        - code
        - msg
      properties:
        code:
          type: string
          description: Error code identifying the specific error type
          example: "40001"
        msg:
          type: string
          description: Human-readable error message
          example: "Invalid request parameter"
        requestTime:
          type: integer
          description: Request timestamp in Unix milliseconds
          example: 1716710918113
        data:
          type: ["string", "null"]
          description: Additional error context or null
    BadRequestError:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      example:
        code: "40001"
        msg: "Invalid parameter: symbol is required"
        requestTime: 1716710918113
        data: null
    UnauthorizedError:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      example:
        code: "40101"
        msg: "Invalid API Key or signature"
        requestTime: 1716710918113
        data: null
    ForbiddenError:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      example:
        code: "40301"
        msg: "IP address not whitelisted or permission denied"
        requestTime: 1716710918113
        data: null
    RateLimitError:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      example:
        code: "42901"
        msg: "Rate limit exceeded. Please retry after 60 seconds"
        requestTime: 1716710918113
        data: null
    InternalServerError:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      example:
        code: "50001"
        msg: "Internal server error. Please try again later"
        requestTime: 1716710918113
        data: null
  responses:
    BadRequest:
      description: |
        **Bad Request** - The request was invalid or malformed.
        
        Common causes:
        - Missing required parameters
        - Invalid parameter format
        - Invalid symbol format
        - Invalid order type or side
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    Unauthorized:
      description: |
        **Unauthorized** - Authentication failed.
        
        Common causes:
        - Invalid or missing API Key
        - Invalid signature
        - Expired timestamp (more than 30 seconds difference)
        - Invalid passphrase
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    Forbidden:
      description: |
        **Forbidden** - Access denied.
        
        Common causes:
        - IP address not in whitelist
        - API key lacks required permissions
        - Account restricted or suspended
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    RateLimitExceeded:
      description: |
        **Too Many Requests** - Rate limit exceeded.
        
        Resolution:
        - Reduce request frequency
        - Implement exponential backoff
        - Check rate limit headers for remaining quota
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimitError'
    InternalError:
      description: |
        **Internal Server Error** - An unexpected error occurred.
        
        Resolution:
        - Retry the request after a short delay
        - Contact support if the issue persists
        - Check API status page for any ongoing issues
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalServerError'
paths:
  # Market API Endpoints
  /capi/v2/market/time:
    get:
      tags:
        - Market Data
      summary: Get Server Time
      description: |
        Retrieves the current server time. This endpoint is useful for:
        - Synchronizing local time with server time
        - Calculating accurate timestamps for signature generation
        - Checking API connectivity
        
        **Use Case:** Call this endpoint before authenticated requests to ensure your timestamp is within the acceptable range (±30 seconds).
      operationId: getServerTime
      security: []
      parameters: []
      responses:
        '200':
          description: Server time information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerTime'
              example:
                epoch: "1716710918.113"
                iso: "2024-05-26T08:08:38.113Z"
                timestamp: 1716710918113
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/contracts:
    get:
      tags:
        - Market Data
      summary: Get Futures Information
      description: |
        Get information about available futures trading pairs.
        
        **Use Cases:**
        - Retrieve all available trading pairs on startup
        - Get specific contract details like leverage limits and fee rates
        - Verify symbol format before placing orders
        
        **Tips:**
        - Cache this data as it changes infrequently
        - Use the `symbol` parameter to get details for a specific pair
      operationId: getFuturesInfo
      security: []
      parameters:
        - name: symbol
          in: query
          description: Trading pair symbol (e.g., cmt_btcusdt). If omitted, returns all contracts.
          required: false
          schema:
            type: string
            example: cmt_btcusdt
      responses:
        '200':
          description: Futures contract information
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      description: Trading pair symbol
                      example: cmt_btcusdt
                    underlying_index:
                      type: string
                      description: Futures crypto
                      example: BTC
                    quote_currency:
                      type: string
                      description: Quote currency
                      example: USDT
                    coin:
                      type: string
                      description: Margin token
                      example: USDT
                    contract_val:
                      type: string
                      description: Futures face value (contract size)
                      example: "0.001"
                    delivery:
                      type: array
                      items:
                        type: string
                      description: Settlement times
                    size_increment:
                      type: string
                      description: Minimum order quantity increment
                      example: "1"
                    tick_size:
                      type: string
                      description: Minimum price increment
                      example: "0.1"
                    forwardContractFlag:
                      type: boolean
                      description: True if USDT-M (linear) futures
                      example: true
                    minLeverage:
                      type: integer
                      description: Minimum leverage
                      example: 1
                    maxLeverage:
                      type: integer
                      description: Maximum leverage
                      example: 125
                    makerFeeRate:
                      type: string
                      description: Maker fee rate (e.g., 0.0002 = 0.02%)
                      example: "0.0002"
                    takerFeeRate:
                      type: string
                      description: Taker fee rate (e.g., 0.0006 = 0.06%)
                      example: "0.0006"
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/depth:
    get:
      tags:
        - Market Data
      summary: Get OrderBook Depth
      description: |
        Retrieves the order book depth data for a specific trading pair.
        
        **Use Cases:**
        - Get current bid/ask spread
        - Analyze market liquidity
        - Implement market making strategies
        
        **Response Format:**
        - `asks`: Array of [price, quantity] sorted by price ascending (lowest first)
        - `bids`: Array of [price, quantity] sorted by price descending (highest first)
      operationId: getOrderBookDepth
      security: []
      parameters:
        - name: symbol
          in: query
          description: Trading pair symbol (e.g., cmt_btcusdt)
          required: true
          schema:
            type: string
            example: cmt_btcusdt
        - name: limit
          in: query
          description: Number of depth levels to return (15 for quick snapshot, 200 for full depth)
          required: false
          schema:
            type: integer
            enum: [15, 200]
            default: 15
      responses:
        '200':
          description: Order book depth data
          content:
            application/json:
              schema:
                type: object
                properties:
                  asks:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                    description: Sell orders [price, quantity] sorted ascending by price
                    example: [["95000.5", "1.234"], ["95001.0", "2.567"]]
                  bids:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                    description: Buy orders [price, quantity] sorted descending by price
                    example: [["94999.5", "0.987"], ["94999.0", "1.456"]]
                  timestamp:
                    type: string
                    description: Unix millisecond timestamp
                    example: "1716710918113"
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/tickers:
    get:
      tags:
        - Market Data
      summary: Get All Tickers
      description: |
        Retrieves ticker information for all available trading pairs.
        
        **Use Cases:**
        - Build market overview dashboards
        - Find trading opportunities across all pairs
        - Monitor price changes and volume
      operationId: getAllTickers
      security: []
      parameters: []
      responses:
        '200':
          description: All ticker information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TickerInfo'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/ticker:
    get:
      tags:
        - Market Data
      summary: Get Single Ticker
      description: Retrieves information for a single trading ticker
      operationId: getSingleTicker
      security: []
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: true
          schema:
            type: string
            example: cmt_btcusdt
      responses:
        '200':
          description: Single ticker information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/trades:
    get:
      tags:
        - Market Data
      summary: Get Trades
      description: Retrieves trade data for a given trading pair
      operationId: getTrades
      security: []
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: true
          schema:
            type: string
            example: cmt_btcusdt
        - name: limit
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        '200':
          description: Trade data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ticketId:
                      type: string
                      description: Filled order ID
                    time:
                      type: integer
                      description: Trade time Unix millisecond timestamp
                    price:
                      type: string
                      description: Trade price
                    size:
                      type: string
                      description: Trade quantity
                    value:
                      type: string
                      description: Trade value
                    symbol:
                      type: string
                      description: Trading pair
                    isBestMatch:
                      type: boolean
                      description: Best price match indicator
                    isBuyerMaker:
                      type: boolean
                      description: Buyer maker indicator
                    contractVal:
                      type: string
                      description: Futures face value
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/candles:
    get:
      tags:
        - Market Data
      summary: Get Candlestick Data
      description: Retrieves candlestick data for a trading pair
      operationId: getCandlestickData
      security: []
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: true
          schema:
            type: string
            example: cmt_bchusdt
        - name: granularity
          in: query
          description: Candlestick interval
          required: true
          schema:
            type: string
            enum: [1m, 5m, 15m, 30m, 1h, 4h, 12h, 1d, 1w]
        - name: limit
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
            default: 100
            maximum: 1000
        - name: priceType
          in: query
          description: Price type
          required: false
          schema:
            type: string
            enum: [LAST, MARK, INDEX]
            default: LAST
      responses:
        '200':
          description: Candlestick data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
                  description: "[timestamp, open, high, low, close, base_volume, quote_volume]"
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/index:
    get:
      tags:
        - Market Data
      summary: Get Cryptocurrency Index
      description: Retrieves the cryptocurrency index for a specified trading pair
      operationId: getCryptocurrencyIndex
      security: []
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: true
          schema:
            type: string
            example: cmt_bchusdt
        - name: priceType
          in: query
          description: Price type
          required: false
          schema:
            type: string
            enum: [MARK, INDEX]
            default: INDEX
      responses:
        '200':
          description: Cryptocurrency index
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Trading pair
                  index:
                    type: string
                    description: Index value
                  timestamp:
                    type: string
                    description: Unix millisecond timestamp
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/open_interest:
    get:
      tags:
        - Market Data
      summary: Get Open Interest
      description: Retrieves the open interest for a specific trading pair
      operationId: getOpenInterest
      security: []
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: true
          schema:
            type: string
            example: cmt_1000satsusdt
      responses:
        '200':
          description: Open interest data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      description: Trading pair
                    base_volume:
                      type: string
                      description: Total open interest of the platform
                    target_volume:
                      type: string
                      description: Quote Currency Holdings
                    timestamp:
                      type: string
                      description: Unix millisecond timestamp
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/funding_time:
    get:
      tags:
        - Market Data
      summary: Get Next Funding Time
      description: Retrieves the settlement time for the next funding
      operationId: getNextFundingTime
      security: []
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: true
          schema:
            type: string
            example: cmt_bchusdt
      responses:
        '200':
          description: Next funding time
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Trading pair
                  fundingTime:
                    type: integer
                    description: Settlement time Unix millisecond timestamp
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/getHistoryFundRate:
    get:
      tags:
        - Market Data
      summary: Get Historical Funding Rates
      description: Retrieve historical funding rates for a trading pair
      operationId: getHistoricalFundingRates
      security: []
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: true
          schema:
            type: string
            example: cmt_bchusdt
        - name: limit
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
      responses:
        '200':
          description: Historical funding rates
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      description: Trading pair
                    fundingRate:
                      type: string
                      description: Funding rate
                    fundingTime:
                      type: integer
                      description: Funding fee settlement time Unix millisecond timestamp
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/market/currentFundRate:
    get:
      tags:
        - Market Data
      summary: Get Current Funding Rate
      description: Retrieves the current funding rate for a specific trading pair or all available trading pairs
      operationId: getCurrentFundingRate
      security: []
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: false
          schema:
            type: string
            example: cmt_bchusdt
      responses:
        '200':
          description: Current funding rates
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      description: Trading pair
                    fundingRate:
                      type: string
                      description: Current funding rate
                    collectCycle:
                      type: integer
                      description: Funding rate settlement cycle (minutes)
                    timestamp:
                      type: integer
                      description: Funding fee settlement time Unix millisecond timestamp
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

  # Account API Endpoints
  /capi/v2/account/getAccounts:
    get:
      tags:
        - Account Management
      summary: Get Account List
      description: |
        Retrieves comprehensive account information including fee settings and leverage configurations.
        
        **Use Cases:**
        - Get account overview on application startup
        - Retrieve current fee rates for cost calculations
        - Check leverage settings across all trading pairs
        
        **Authentication Required:** Yes - ACCESS-KEY, ACCESS-SIGN, ACCESS-PASSPHRASE
      operationId: getAccountList
      parameters: []
      responses:
        '200':
          description: Account information
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    properties:
                      defaultFeeSetting:
                        type: object
                        properties:
                          is_set_fee_rate:
                            type: boolean
                          taker_fee_rate:
                            type: string
                          maker_fee_rate:
                            type: string
                      leverageSetting:
                        type: array
                        items:
                          type: object
                          properties:
                            symbol:
                              type: string
                            cross_leverage:
                              type: string
                  collateral:
                    type: array
                    items:
                      type: object
                      properties:
                        coin:
                          type: string
                        amount:
                          type: string
                        marginMode:
                          type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/account/getAccount:
    get:
      tags:
        - Account Management
      summary: Get Single Account
      description: |
        Retrieves detailed information for a single account by coin type.
        
        **Use Cases:**
        - Get specific coin balance and margin information
        - Check available balance before placing orders
        
        **Authentication Required:** Yes
      operationId: getSingleAccount
      parameters:
        - name: coin
          in: query
          description: Coin name (e.g., USDT, BTC)
          required: true
          schema:
            type: string
            example: USDT
      responses:
        '200':
          description: Single account information
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                  collateral:
                    type: array
                    items:
                      type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/account/assets:
    get:
      tags:
        - Account Management
      summary: Get Account Assets
      description: Retrieve account assets
      operationId: getAccountAssets
      parameters: []
      responses:
        '200':
          description: Account assets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    coinName:
                      type: string
                      description: Name of the crypto
                    available:
                      type: string
                      description: Available asset
                    frozen:
                      type: string
                      description: Frozen asset
                    equity:
                      type: string
                      description: Total asset
                    unrealizePnl:
                      type: string
                      description: Unrealized Profit and Loss
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/account/bills:
    post:
      tags:
        - Account Management
      summary: Get Contract Account Bills
      description: Get Contract Account Bill History
      operationId: getContractBills
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coin:
                  type: string
                  description: Currency name
                symbol:
                  type: string
                  description: Trading pair
                businessType:
                  type: string
                  description: Business type
                startTime:
                  type: integer
                  description: Start timestamp (milliseconds)
                endTime:
                  type: integer
                  description: End timestamp (milliseconds)
                limit:
                  type: integer
                  description: Return record limit
                  default: 20
                  maximum: 100
      responses:
        '200':
          description: Account bills
          content:
            application/json:
              schema:
                type: object
                properties:
                  hasNextPage:
                    type: boolean
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        billId:
                          type: integer
                        coin:
                          type: string
                        amount:
                          type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/account/settings:
    get:
      tags:
        - Account Management
      summary: Get User Settings
      description: Retrieves user settings for futures trading pairs
      operationId: getUserSettings
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: false
          schema:
            type: string
            example: cmt_bchusdt
      responses:
        '200':
          description: User settings
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    isolated_long_leverage:
                      type: string
                    isolated_short_leverage:
                      type: string
                    cross_leverage:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/account/leverage:
    post:
      tags:
        - Account Management
      summary: Change Leverage
      description: Changes leverage for a trading pair
      operationId: changeLeverage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - symbol
                - marginMode
                - longLeverage
                - shortLeverage
              properties:
                symbol:
                  type: string
                  description: Trading pair
                marginMode:
                  type: integer
                  description: "Margin mode (1: Cross, 3: Isolated)"
                  enum: [1, 3]
                longLeverage:
                  type: string
                  description: Long position leverage
                shortLeverage:
                  type: string
                  description: Short position leverage
      responses:
        '200':
          description: Leverage change response
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                  requestTime:
                    type: integer
                  code:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/account/adjustMargin:
    post:
      tags:
        - Account Management
      summary: Adjust Position Margin
      description: Adjusts the margin for an isolated position
      operationId: adjustPositionMargin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - isolatedPositionId
                - collateralAmount
              properties:
                coinId:
                  type: integer
                  description: "Collateral ID (default: 2 for USDT)"
                  default: 2
                isolatedPositionId:
                  type: integer
                  description: Isolated margin position ID
                collateralAmount:
                  type: string
                  description: Collateral amount (positive for increase, negative for decrease)
      responses:
        '200':
          description: Margin adjustment response
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                  requestTime:
                    type: integer
                  code:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/account/modifyAutoAppendMargin:
    post:
      tags:
        - Account Management
      summary: Automatic Margin Top-Up
      description: Enable or disable automatic margin top-up for isolated positions
      operationId: modifyAutoMargin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - positionId
                - autoAppendMargin
              properties:
                positionId:
                  type: integer
                  description: Isolated margin position ID
                autoAppendMargin:
                  type: boolean
                  description: Whether to enable automatic margin call
      responses:
        '200':
          description: Auto margin modification response
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                  requestTime:
                    type: integer
                  code:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/account/position/allPosition:
    get:
      tags:
        - Position Management
      summary: Get All Positions
      description: Retrieves all positions held by the user's account
      operationId: getAllPositions
      parameters: []
      responses:
        '200':
          description: All positions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Position ID
                    symbol:
                      type: string
                      description: Trading pair
                    side:
                      type: string
                      description: Position direction
                    size:
                      type: string
                      description: Current position size
                    leverage:
                      type: string
                      description: Position leverage
                    unrealizePnl:
                      type: string
                      description: Unrealized PnL
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/account/position/singlePosition:
    get:
      tags:
        - Position Management
      summary: Get Single Position
      description: Retrieve details of a single contract position
      operationId: getSinglePosition
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: true
          schema:
            type: string
            example: cmt_bchusdt
      responses:
        '200':
          description: Single position details
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    symbol:
                      type: string
                    side:
                      type: string
                    size:
                      type: string
                    leverage:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/account/position/changeHoldModel:
    post:
      tags:
        - Account Management
      summary: Modify User Account Mode
      description: Modify the user's account mode for a specific trading pair
      operationId: modifyAccountMode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - symbol
                - marginMode
              properties:
                symbol:
                  type: string
                  description: Trading pair
                marginMode:
                  type: integer
                  description: "Margin mode (1: Cross Mode, 3: Isolated Mode)"
                  enum: [1, 3]
                separatedMode:
                  type: integer
                  description: "Position segregation mode (1: Combined mode)"
                  enum: [1]
      responses:
        '200':
          description: Account mode modification response
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                  requestTime:
                    type: integer
                  code:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

  # Trade API Endpoints
  /capi/v2/order/placeOrder:
    post:
      tags:
        - Order Management
      summary: Place Order
      description: |
        Place a new futures order on the platform.
        
        **Order Types (type parameter):**
        - `1`: Open Long - Buy to open a long position
        - `2`: Open Short - Sell to open a short position
        - `3`: Close Long - Sell to close a long position
        - `4`: Close Short - Buy to close a short position
        
        **Execution Types (order_type parameter):**
        - `0`: Normal order (default)
        - `1`: Post-only (maker only, rejected if would match immediately)
        - `2`: Fill or Kill (FOK) - Execute entirely or cancel
        - `3`: Immediate or Cancel (IOC) - Execute any available, cancel rest
        
        **Price Types (match_price parameter):**
        - `0`: Limit order - uses the `price` parameter
        - `1`: Market order - ignores `price`, executes at best available
        
        **Authentication Required:** Yes - ACCESS-KEY, ACCESS-SIGN, ACCESS-PASSPHRASE
        
        **Workflow:**
        1. Check available balance using `/capi/v2/account/assets`
        2. Verify symbol exists using `/capi/v2/market/contracts`
        3. Place order with this endpoint
        4. Monitor order status using `/capi/v2/order/detail`
      operationId: placeOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - symbol
                - client_oid
                - size
                - type
                - order_type
                - match_price
                - price
              properties:
                symbol:
                  type: string
                  description: Trading pair symbol
                  example: cmt_btcusdt
                client_oid:
                  type: string
                  description: Custom order ID for tracking (≤40 characters, alphanumeric)
                  maxLength: 40
                  example: "my_order_001"
                size:
                  type: string
                  description: Order quantity in contracts (must be positive)
                  example: "10"
                type:
                  type: string
                  description: "Order direction: 1=Open Long, 2=Open Short, 3=Close Long, 4=Close Short"
                  enum: ["1", "2", "3", "4"]
                  example: "1"
                order_type:
                  type: string
                  description: "Execution type: 0=Normal, 1=Post-only, 2=FOK, 3=IOC"
                  enum: ["0", "1", "2", "3"]
                  example: "0"
                match_price:
                  type: string
                  description: "Price type: 0=Limit order, 1=Market order"
                  enum: ["0", "1"]
                  example: "0"
                price:
                  type: string
                  description: Order price (required for limit orders, ignored for market orders)
                  example: "95000.5"
                presetTakeProfitPrice:
                  type: number
                  description: Optional take-profit trigger price
                  example: 100000
                presetStopLossPrice:
                  type: number
                  description: Optional stop-loss trigger price
                  example: 90000
                marginMode:
                  type: integer
                  description: "Margin mode: 1=Cross Mode, 3=Isolated Mode"
                  enum: [1, 3]
                  default: 1
                  example: 1
            example:
              symbol: "cmt_btcusdt"
              client_oid: "my_order_001"
              size: "10"
              type: "1"
              order_type: "0"
              match_price: "0"
              price: "95000.5"
              marginMode: 1
      responses:
        '200':
          description: Order placed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              example:
                client_oid: "my_order_001"
                order_id: "1234567890"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/cancel_order:
    post:
      tags:
        - Order Management
      summary: Cancel Order
      description: |
        Cancels an existing unfilled or partially filled order.
        
        **Note:** You can cancel by either `orderId` (system-generated) or `clientOid` (your custom ID).
        At least one identifier must be provided.
        
        **Order States:**
        - Only orders in "open" or "partially_filled" state can be cancelled
        - Filled orders cannot be cancelled
        
        **Authentication Required:** Yes
      operationId: cancelOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: string
                  description: System-generated Order ID
                  example: "1234567890"
                clientOid:
                  type: string
                  description: Your custom order ID (used during order placement)
                  example: "my_order_001"
            example:
              orderId: "1234567890"
      responses:
        '200':
          description: Order cancellation response
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                    description: The cancelled order ID
                  client_oid:
                    type: string
                    description: Your custom order ID
                  result:
                    type: boolean
                    description: True if cancellation was successful
                  err_msg:
                    type: string
                    description: Error message if cancellation failed
              example:
                order_id: "1234567890"
                client_oid: "my_order_001"
                result: true
                err_msg: ""
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/detail:
    get:
      tags:
        - Order Management
      summary: Get Order Info
      description: Retrieve detailed information for a single order by its ID
      operationId: getOrderInfo
      parameters:
        - name: orderId
          in: query
          description: Order ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                  size:
                    type: string
                  client_oid:
                    type: string
                  order_id:
                    type: string
                  price:
                    type: string
                  status:
                    type: string
                  type:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/history:
    get:
      tags:
        - Order Management
      summary: Get History Orders
      description: Retrieves historical order data
      operationId: getOrderHistory
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: false
          schema:
            type: string
        - name: pageSize
          in: query
          description: Items per page
          required: false
          schema:
            type: integer
        - name: createDate
          in: query
          description: Creation time Unix millisecond timestamp
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Historical orders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/current:
    get:
      tags:
        - Order Management
      summary: Get Current Orders
      description: Retrieves a list of current open orders
      operationId: getCurrentOrders
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: false
          schema:
            type: string
        - name: orderId
          in: query
          description: Order ID
          required: false
          schema:
            type: integer
        - name: startTime
          in: query
          description: Record start time Unix millisecond timestamp
          required: false
          schema:
            type: integer
        - name: endTime
          in: query
          description: Record end time Unix millisecond timestamp
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Limit number
          required: false
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Current orders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/fills:
    get:
      tags:
        - Order Management
      summary: Get Fills
      description: Retrieves transaction details (fills) for orders
      operationId: getFills
      parameters:
        - name: symbol
          in: query
          description: Trading pair name
          required: false
          schema:
            type: string
        - name: orderId
          in: query
          description: Order ID
          required: false
          schema:
            type: integer
        - name: startTime
          in: query
          description: Start timestamp Unix millisecond timestamp
          required: false
          schema:
            type: integer
        - name: endTime
          in: query
          description: End timestamp Unix millisecond timestamp
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Number of queries
          required: false
          schema:
            type: integer
            default: 100
            maximum: 100
      responses:
        '200':
          description: Fill details
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                  nextFlag:
                    type: boolean
                  totals:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/plan_order:
    post:
      tags:
        - Order Management
      summary: Place Trigger Order
      description: Place a trigger order
      operationId: placeTriggerOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - symbol
                - client_oid
                - size
                - type
                - match_type
                - execute_price
                - trigger_price
              properties:
                symbol:
                  type: string
                  description: Trading pair
                client_oid:
                  type: string
                  description: Custom order ID (≤40 characters)
                size:
                  type: string
                  description: Order quantity in lots
                type:
                  type: string
                  description: Order type
                  enum: ["1", "2", "3", "4"]
                match_type:
                  type: string
                  description: Match type
                  enum: ["0", "1"]
                execute_price:
                  type: string
                  description: Execution price
                trigger_price:
                  type: string
                  description: Trigger price
                marginMode:
                  type: integer
                  description: "Margin mode (1: Cross Mode, 3: Isolated Mode)"
                  enum: [1, 3]
                  default: 1
      responses:
        '200':
          description: Trigger order placement response
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_oid:
                    type: string
                  order_id:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/cancel_plan:
    post:
      tags:
        - Order Management
      summary: Cancel Trigger Order
      description: Cancels a pending (trigger) order
      operationId: cancelTriggerOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
              properties:
                orderId:
                  type: string
                  description: Order ID
      responses:
        '200':
          description: Trigger order cancellation response
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                  client_oid:
                    type: string
                  result:
                    type: boolean
                  err_msg:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/currentPlan:
    get:
      tags:
        - Order Management
      summary: Get Current Plan Orders
      description: Retrieves a list of current plan orders
      operationId: getCurrentPlanOrders
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: false
          schema:
            type: string
        - name: orderId
          in: query
          description: Order ID
          required: false
          schema:
            type: integer
        - name: startTime
          in: query
          description: Record start time Unix millisecond timestamp
          required: false
          schema:
            type: integer
        - name: endTime
          in: query
          description: Record end time Unix millisecond timestamp
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Limit number
          required: false
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Current plan orders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/historyPlan:
    get:
      tags:
        - Order Management
      summary: Get History Plan Orders
      description: Retrieves historical plan order data
      operationId: getHistoryPlanOrders
      parameters:
        - name: symbol
          in: query
          description: Trading pair
          required: true
          schema:
            type: string
        - name: startTime
          in: query
          description: Start time Unix millisecond timestamp
          required: false
          schema:
            type: integer
        - name: endTime
          in: query
          description: End time Unix millisecond timestamp
          required: false
          schema:
            type: integer
        - name: delegateType
          in: query
          description: Order type
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Items per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 100
      responses:
        '200':
          description: Historical plan orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                  nextPage:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/closePositions:
    post:
      tags:
        - Order Management
      summary: Close All Positions
      description: Closes all open positions
      operationId: closeAllPositions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  description: Trading pair (if not provided, all positions will be closed)
      responses:
        '200':
          description: Position closure response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    positionId:
                      type: integer
                    successOrderId:
                      type: integer
                    errorMessage:
                      type: string
                    success:
                      type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/cancelAllOrders:
    post:
      tags:
        - Order Management
      summary: Cancel All Orders
      description: Cancels all outstanding orders for a user
      operationId: cancelAllOrders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                symbol:
                  type: string
                  description: Trading pair (if not provided, all trading pairs will be cancelled)
                cancelOrderType:
                  type: string
                  description: Order type to cancel
                  enum: [normal, plan]
              required:
                - cancelOrderType
      responses:
        '200':
          description: Cancel all orders response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    orderId:
                      type: integer
                    success:
                      type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/placeTpSlOrder:
    post:
      tags:
        - Order Management
      summary: Place TP/SL Order
      description: Place a Take-Profit/Stop-Loss order
      operationId: placeTpSlOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - symbol
                - clientOrderId
                - planType
                - triggerPrice
                - size
                - positionSide
              properties:
                symbol:
                  type: string
                  description: Trading pair
                clientOrderId:
                  type: string
                  description: Custom order ID (≤40 characters)
                  maxLength: 40
                planType:
                  type: string
                  description: TP/SL type
                  enum: [profit_plan, loss_plan]
                triggerPrice:
                  type: string
                  description: Trigger price
                executePrice:
                  type: string
                  description: Execution price (0 for market price)
                size:
                  type: string
                  description: Order quantity
                positionSide:
                  type: string
                  description: Position direction
                  enum: [long, short]
                marginMode:
                  type: integer
                  description: "Margin mode (1: Cross Mode, 3: Isolated Mode)"
                  enum: [1, 3]
                  default: 1
      responses:
        '200':
          description: TP/SL order placement response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    orderId:
                      type: integer
                    success:
                      type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
  
  /capi/v2/order/modifyTpSlOrder:
    post:
      tags:
        - Order Management
      summary: Modify TP/SL Order
      description: Modifies an existing Take Profit/Stop Loss (TP/SL) order
      operationId: modifyTpSlOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
                - triggerPrice
              properties:
                orderId:
                  type: integer
                  description: Order ID of the TP/SL order to modify
                triggerPrice:
                  type: string
                  description: New trigger price
                executePrice:
                  type: string
                  description: New execution price (0 for market price)
                triggerPriceType:
                  type: integer
                  description: "Trigger price type (1: Last price, 3: Mark price)"
                  enum: [1, 3]
                  default: 1
      responses:
        '200':
          description: TP/SL order modification response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  msg:
                    type: string
                  requestTime:
                    type: integer
                  data:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

  # Upload AI Log Endpoint
  /capi/v2/order/uploadAiLog:
    post:
      tags:
        - AI Integration
      summary: Upload AI Log
      description: |
        Upload AI log data for BUIDLs entering the live trading phase. 
        The AI log must contain model version, input/output data, and order execution details to verify AI involvement and compliance.
        Only approved UIDs on the official allowlist may submit data.
      operationId: uploadAiLog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - stage
                - model
                - input
                - output
                - explanation
              properties:
                orderId:
                  type: ["integer", "null"]
                  description: The order ID returned from WEEX order API
                stage:
                  type: string
                  description: Trading stage where AI participated
                model:
                  type: string
                  description: The name or version of the AI model used
                input:
                  type: object
                  description: The prompt, query, or input text given to the AI model
                output:
                  type: object
                  description: The AI model's generated output
                explanation:
                  type: string
                  description: A concise explanation summarizing the AI's analysis and reasoning
                  maxLength: 1000
      responses:
        '200':
          description: AI log upload response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Request status code, "00000" indicates success
                  msg:
                    type: string
                    description: Request result description, "success" indicates success
                  requestTime:
                    type: integer
                    description: Request timestamp (milliseconds)
                  data:
                    type: string
                    description: Returned business data, "upload success" indicates upload successful
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'